@media screen and (max-widht:1200px){
	.navbar{
		width:20%;
		overflow: hidden;
	}
}
@media screen and (min-widht: 400px) and (max-widht: 1200px){
	.first-container{
		width:40%;
		overflow:hidden;
	}
}
@media only screen and (max-width: 768px) {
	/*Para smartphoness: */
	img .carrousel{
		width: 60%;
		height: 50%;
		background-size: cover;
		margin-left: 0.5%;
	}
}
body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin:0 auto;
}
p{
	font-family:"IBM Plex Mono", monospace;
	font-size: small;
	color:#9b9b9b;
}
ul{
	list-style-type: none;
	text-decoration:none;
	font-family: "IBM Plex Mono", monospace;
	font-size: medium;
}
.titulo{
	margin: 10;
	padding: 3px;
    text-align: center;
    color: #FA8258;
	font-size: 80px;
	font-family: "Indie Flower", cursive;
}
nav{
	display:block;
	background-color: red;
	width: 500px;
	height:50px;
	padding: 0;
	margin: 0 auto;
}
.navbar{
	width: 50%;
	padding: 0;
	margin-left: 10%;	
}
.navbar ul ul{
	display: none;
}
.menu{
	color:#9b9b9b;
	display:block;
	list-style-type: none;
	text-decoration:none;
}
.home a{
	color: #FA8258;
}
.listmenu{
	background-color: aqua;
	position: absolute;
	min-width:25%;
}
.carrousel{
	width:100%;
	margin:0;
	overflow: hidden;
	border-color: #000000 solid 1px;
}
.carrousel ul{
	margin:0;
	padding:0;
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 300px;
	height:420px;
	list-style: none
}
.carrousel li{
	width:100%;
}
.carrousel li img{
	height:420px;
	width:95%;
}
.carrousel div{
	display:flex;
	flex-flow: row-reverse; 
	position:absolute;
}
.commentary div{
	position:relative;
	margin:0;
	bottom:150px;
	transition: transform 0.3s;
	transform: translate(50px, 20px);
}
.commentary ul{
	padding:0;
	margin:0 0 25px 0;
	height:5%;
	width:24%;
	line-height:20px 0px;
	background-color:RGBA(255,0,0,0.2);
	list-style: none;
}
.commentary p{
	margin: 0;
	padding:0;
	display:flex;
}
.first-container{
	display: flex;
	height: 200px;
	width: 60%;
	padding:0;
	font-family:"IBM Plex Mono", monospace;
	box-sizing:border-box;
	font-size: 100%;	
	margin-top:0.5%;
	margin-left: 10%;
	align-items: initial;
	border-color:1px black solid;
}
.first-container .smallpicture img{
	border-radius: 15px 15px 15px 15px;
	border-bottom-color: #000000; 
	box-sizing:border-box;
	width: 30%;
	height: 100%;
	margin: 0 10px 0 10px;
	background-size: cover;
}
.first-container div{
	display:flex;
	height: 150px;
	padding:0;
	margin:0;
	overflow:hidden;
	box-sizing:border-box;
	font-size: 100%;;
 }
 .white > div a{
	background-color: aqua;
	font-family:"IBM Plex Mono", monospace;
	color: #000000;
	box-sizing:border-box;
	width:10%;
	border-radius: 15px 15px 15px 15px;
	border-color: #000000 solid 1px; 
	list-style: none;
	text-decoration: none;
	justify-content:center;
	align-items:center;
 }
 .second-container{
	 width:100%;
	 height:400px;
	 display:flex;
	 flex: row nowrap;
	 justify-items: center;
 }
 .video{
	margin-left: 120px;
	margin-top: 15px;
 }
 .avatar-banner > div{
	flex-flow:column nowrap;
	height: 100%;
	width: 100%;
	margin-right: 20px;
	font-family:"IBM Plex Mono", monospace;
	box-sizing:border-box;
	font-size: 100%;
	border:border-box;
	border-color:1px #000000 solid;
 }
 .avatar-banner > ul li a{
	list-style: none;
	text-decoration: none;
	font-family: "IBM Plex Mono", monospace;
	font-size: large;
	font-weight: bold;
	color:#000000;
	background-color: #ffa9d2;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ffa9d2;
}
.avatar-banner a{
	width:100%;
}
.avatar-banner p{
	height:30px;
	width: 20;
}
 .avatar-banner img{
	height: 150px;
	width: 60%;
	border-radius: 35%; 
 } 
 .third-container{
	display: flex;
	flex: row nowrap;
	height: 200px;
	width: 60%;
	padding:10px 0 20px 0;
	margin-left: 10%;
	margin-top: 0.5%;
	font-family:"IBM Plex Mono", monospace;
	box-sizing:border-box;
	font-size: 100%;
 }
 .third img{
	display: flex;
	flex: row nowrap;
	border-radius: 15px 15px 15px 15px;
	border-color: #000000;
	box-sizing:border-box;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	background-size: cover;
}
.message div >ul{
	color:#9b9b9b
}
.fourth-container{
	display: flex;
	flex: row nowrap;
	height: 200px;
	width: 60%;
	padding:10px 0 20px 0;
	margin-left: 10%;
	margin-top: 0.5%;
	font-family:"IBM Plex Mono", monospace;
	box-sizing:border-box;
	font-size: 100%;
}
.fourth img{
	display: flex;
	flex: row nowrap;
	border-radius: 15px 15px 15px 15px;
	box-sizing:border-box;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
 }	
 .message{
	 margin-left:2%;
 }
.message > ul li a{
	list-style: none;
	text-decoration: none;
	font-family: "IBM Plex Mono", monospace;
	font-size: medium;
	font-weight: bold;
	color:#000000;
	background-color: #ffa9d2;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ffa9d2;
}
.social-icons div{
	float: left;
	background-color: #9b9b9b;
}
.socialnetworks ul li{
	height: 10px;
	width:5%;
	display: flex;
	color:#9b9b9b;
	border-radius: 5px;
    border: 1px solid #CCD1D1;
    padding: 35px;
}
