body{
	display:flexbox;
}

ul, li, a{
	list-style: none;
	text-decoration: none;
	color:#848484;
}

header{
	color:#FA8258;
	text-decoration: bold;
	font-family: "IBM Plex Mono", monospace;
}
.submenu{
	color: #848484;
	background-color:#ffff;
	text-decoration: none;
}

.home{
	color:#FA8258;

}

a{
	display: flex;
}
